body{
    display:grid;
    grid-template-areas: 
    "aside header"
    "aside main";
    /*column-gap: 100px;*/
    /*gap: 100px;*/

    grid-template-columns: auto 1fr;
}

.cabecalho{
    grid-area: header;
}

.menu-lateral{
    grid-area: aside;
}

.principal{
grid-area: main;
}